# Los Angeles Times datadesk's `census-data-downloader` 

Repo: https://github.com/datadesk/census-data-downloader 

Needs an API KEY.

In [1]:
import pandas as pd
from pathlib import Path
from tools import tree

In [3]:
RAW_DATA_PATH = Path("../data/raw/")
PROCESSED_DATA_PATH = Path("../data/processed/")

`census-data-downloader` will look for an enviornmental variable with your Census API Key.

```
%env CENSUS_API_KEY=<Your API Key here>
```

In [24]:
!censusdatadownloader --year 2017 --data-dir ../data/ medianage counties

It will create 2 datafiles:
1. A raw data file in your `data-dir`/raw
2. A human-readable data file in your `data-dir`/processed

In [4]:
tree(RAW_DATA_PATH)

+ ../data/raw
    + .DS_Store
    + acs_data.csv.gz
    + acs_data.dta.gz
    + cps_data.dta.gz

In [15]:
raw_data = pd.read_csv(RAW_DATA_PATH / "acs5_2017_medianage_states.csv")
processed_data = pd.read_csv(PROCESSED_DATA_PATH / "acs5_2017_medianage_states.csv")

In [16]:
raw_data.head()

   B01002_001E  B01002_002E  B01002_003E         name  state
0         40.1         38.1         41.8  Puerto Rico     72
1         38.7         37.2         40.1      Alabama      1
2         33.9         33.4         34.4       Alaska      2
3         37.2         35.9         38.5      Arizona      4
4         37.9         36.5         39.3     Arkansas      5

In [17]:
processed_data.head()

   geoid         name  median  male  female  state
0     72  Puerto Rico    40.1  38.1    41.8     72
1      1      Alabama    38.7  37.2    40.1      1
2      2       Alaska    33.9  33.4    34.4      2
3      4      Arizona    37.2  35.9    38.5      4
4      5     Arkansas    37.9  36.5    39.3      5